<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h1 class="mt-4 logo me-auto"><a href="index.html"></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/astrio.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#noticias">Notícias</a></li>
        <li><a class="nav-link scrollto" href="#cta">Aniversariantes</a></li>
        <li><a class="nav-link scrollto" href="#services">Convênios</a></li>

        <li class="dropdown">
          <a href="#"><span>AST-Rio</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <!-- <li><a routerLink="/quem-somos">Quem Somos</a></li>-->
            <li><a target="_blank" href="assets/vendor/estatuto.pdf">Estatuto</a></li>
            <li><a routerLink="/diretoria">Diretoria / Conselho</a></li>
            <li><a routerLink="/presidentes">Presidentes</a></li>
            <li><a href="#">Área Administrativa</a></li>


          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->