.login {
  background-color: #043d6c;
  height: calc(100vh - 70px);

  &__card {
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 8px 8px 16px -6px #000;
  }
}

.card {
  &__title {
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid;
  }

  &__button {
    text-align: end;
  }
}

.box-center {
  height: 80%;
}
