<div class="container-fluid login">
  <div class="row justify-content-center align-items-center box-center">
    <div class="col-10 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
      <div class="login__card">
        <p class="card__title">Login</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu email" formControlName="email">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite sua senha" formControlName="password">
          </div>
          <p *ngIf="error" class="text-danger">{{ error }}</p>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">ENTRAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
