<div class="container convenios-update">
  <div class="row mt-3 mb-3 justify-content-center">
    <div class="col-md-10">
      <h2>Notícias</h2>
      <p>Cadastre os dados exibidos na seção notícias da página inicial do site</p>

      <loading-component *ngIf="loading"></loading-component>

      <form [formGroup]="noticiaForm" (ngSubmit)="register()">
        <div class="row justify-content-center">
          <div class="col-md-3">
            <div class="profile" [ngClass]="{'profile--clear': logo}">
              <img [src]="logo" class="profile__image" *ngIf="logo">
              <input type="file" name="logo" class="profile__input" id="logo" placeholder="Logo"
              (change)="getProfileImageCode($event)"/>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row mb-2">
              <div class="col-md-12">
                <input type="text" class="convenios-update__title" placeholder="Título" formControlName="title">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <textarea class="convenios-update__content" name="" id="" cols="30" rows="10"
                  placeholder="Descrição" formControlName="description"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-md-3 btns-action">
            <a routerLink="/admin/menu" class="btns-action__link">Cancelar</a>
            <button class="btns-action__button" type="submit">Cadastrar</button>
          </div>
        </div>
      </form>

      <hr>
      <h3 class="mb-4">Notícias cadastradas</h3>

      <div class="row list">
        <div *ngFor="let noticia of noticias" class="col-md-4 list__item">
          <div class="list__icon" (click)="remove(noticia)">
            <i class="bi bi-trash"></i>
          </div>
          <p class="list__title">{{ noticia.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
