<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>QUEM SOMOS</h2>
            <p>
                Nossa associação foi criada objetivando proteger e representar os
                interesses comuns dos servidores ativos e aposentados do Tribunal de
                Contas do Município do Rio de Janeiro. <br /><br />
            </p>
            <h3>Missão</h3>
            <p>Ser relevante na defesa de seus associados. <br /><br /></p>
            <h3>Visão</h3>
            <p>
                Ser reconhecida como entidade que defende e agrega valor ao associado.
            </p>
        </div>

        <!--<div class="row text-center">
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="assets/img/astrio.png" class="img-fluid" alt="">
                </div>

                <h3>Missão</h3>
                <p>
                    Ser relevante na defesa de seus associados.
                </p>
                <h3>Visão</h3>
                <p>
                    Ser reconhecida como entidade que defende e agrega valor ao associado.
                </p>
                  <ul>
                        <li><i class="bi bi-check-circled"></i> Aguardando Texto.
                        </li>
                        <li><i class="bi bi-check-circled"></i> Aguardando Texto
                            .</li>
                        <li><i class="bi bi-check-circled"></i> Aguardando Texto.</li>
                    </ul>
                    <p>
                        Aguardando Texto
                    </p>

            </div>-->
    </div>
</section>
<!-- End About Us Section -->