.home-update {
  &__title {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #767676;
    padding: 8px;
  }

  &__content {
    resize: none;
    width: 100%;
    border-radius: 4px;
    padding: 8px;
  }
}

.btns-action {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__link {
    color: #ff0000;
    font-size: 16px;
    font-weight: 400;
  }

  &__button {
    background-color: #121285;
    color: #fff;
    border: 0px transparent;
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: 400;
    letter-spacing: 0.03rem;
  }
}

.list {
  &__item {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px 8px 14px 8px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px -2px #3e3e3e;
    padding: 8px 0px;
    justify-content: start;
    align-items: center;
  }

  &__title {
    margin-bottom: 0px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
  }

  &__icon {
    padding: 4px 12px;
    border-right: 1px solid #000;
    cursor: pointer;
  }
}
