<div class="container">
  <div class="row mt-3 mb-3">
    <h2>Atualizar dados</h2>
    <p>Selecione uma das categorias abaixo para atualizar os dados</p>
  </div>

  <loading-component *ngIf="loading"></loading-component>

  <div class="row">
    <div class="col-lg-4 col-md-3" *ngFor="let item of menu">
      <div class="card" *ngIf="item.path" (click)="navigate(item.path)">
        <p class="card__title">{{ item.title }}</p>
      </div>
      <div class="card file" *ngIf="!item.path">
        <i class="bi bi-cloud-upload-fill"></i>
        <p class="card__title">{{ item.title }}</p>
        <input type="file" class="file__input" (change)="getFile($event)">
      </div>
    </div>
  </div>
</div>
