.card {
  margin-bottom: 24px;
  padding: 16px;
  box-shadow: 2px 2px 8px -2px #000000a1;
  border: 0px transparent;
  text-align: center;
  cursor: pointer;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: #000080;
  color: #fff;

  .bi {
    margin-right: 12px;
  }

  &:hover {
    transform: scale(1.04, 1.2);
    transition-delay: 100ms;
  }

  &__title {
    margin: 0px;
    font-weight: 500;
  }
}

.file {
  cursor: pointer;

  &__input {
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    z-index: 999;
    bottom: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}
