<div class="container">
  <div class="row mt-3 mb-3">
    <h2>Atualizar dados</h2>
    <p>Selecione uma das categorias abaixo para atualizar os dados</p>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-3">
      <div class="card">
        <p class="card__title" (click)="navigate('home')">Home</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-3">
      <div class="card">
        <p class="card__title" (click)="navigate('quem-somos')">Quem somos</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-3">
      <div class="card">
        <p class="card__title" (click)="navigate('convenios')">Convênios</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-3">
      <div class="card">
        <p class="card__title" (click)="navigate('contato')">Contato</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-3">
      <div class="card">
        <p class="card__title" (click)="navigate('presidentes')">Presidentes</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-3">
      <div class="card">
        <p class="card__title" (click)="navigate('diretoria')">Diretoria / Conselho</p>
      </div>
    </div>
  </div>
</div>
