<!-- ======= Team Section ======= -->
<section id="diretoria" class="team section-bg">
    <div class="container">
        <div class="section-title text-center">
            <h2>DIRETORIA EXECUTIVA</h2>
            <p></p>
        </div>

        <div class="row text-center">
            <!--   <div class="member">-->
            <!-- <img src="assets/img/team/team-1.jpg" alt="">-->
            <h4>Presidência</h4>
            <br />
            <span>Jose Netto Leal Junior</span><br /><br />
            <h4>Vice-Presidência</h4>
            <br />
            <span>Milton Rodrigues de Oliveira</span><br /><br />
            <h4>Diretoria Financeira/Administrativa</h4>
            <br />
            <span>Bráulio de Freitas Ferraz</span><br /><br />
            <h4>Diretoria Sócio-Cultural e de Comunicações</h4>
            <br />
            <span>Adriana Peçanha Oliveira da Silva</span><br /><br />
            <h4>Diretoria Jurídica e de Benefícios</h4>
            <br />
            <span>Jair Sardinha da Costa </span><br /><br />
            <h4>Diretoria de Esportes</h4>
            <br />
            <span>Alexandre de Freitas</span><br /><br />
            <!--   </div>-->

            <!--    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>MIGUEL GERMIGOS DA FRANCA</h4>
                        <span>Vice-Presidência</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>JOSÉ LUCIANO CLEMENTE</h4>
                        <span>Dir. de Comunicação</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>JOSÉ NETTO LEAL JÚNIOR</h4>
                        <span>Diretoria Financeira/Administrativa</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>TEREZINHA DE OLIVEIRA L. FEIJOÓ</h4>
                        <span>Diretoria Jurídica</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>IARA REGINA DA SILVA SOUZA</h4>
                        <span>Diretoria Sócio-Cultural</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>GISELA CORREA DE ARAUJO</h4>
                        <span>Diretoria de Benefícios</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>PAULO CESAR MEDEIROS PESSET</h4>
                        <span>Diretoria de Esportes</span>
                    </div>
                </div> -->
        </div>

        <!--<div class="section-title">
                <h2>CONSELHO DELIBERATIVO</h2>
            </div>

            <ul>
                <li>FLAVIO BELFORD ROXO WILLEMSENS</li>
                <li>MILTON RODRIGUES DE OLIVEIRA</li>
                <li>ALEXANDRE DE FREITAS</li>
                <li>ANTONIO RAYMUNDO DA MOTTA</li>
                <li>VANIR PARANÁ PEREIRA LOPES</li>
                <li>JOSÉ DAS GRAÇAS GONÇALVES</li>
                <li>DEUSIMAR CORREA</li>
            </ul>

            <div class="section-title">
                <h2>CONSELHO FISCAL</h2>
            </div>

            <ul>
                <li>SERGIO BARBOSA FERREIRA</li>
                <li>BRAULIO FERRAZ</li>
                <li>LUIZ CLAUDIO FERREIRA</li>
            </ul>-->
    </div>
</section>
<!-- End Team Section -->