<!-- ======= Team Section ======= -->
<section id="diretoria" class="team section-bg">
  <div class="container">
    <div class="section-title text-center">
      <h2 style="color: #033a67">DIRETORIA EXECUTIVA</h2>
      <p></p>
    </div>


    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" *ngFor="let diretor of diretores">
        <div class="icon-box iconbox-blue">
          <h4 style="color: #033a67">{{ diretor.title }}</h4>
          <p>{{ diretor.name }}</p>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">

                    <h4 style="color: #033a67">Presidência</h4>
                    <p>
                        Jose Netto Leal Junior
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box iconbox-orange">

                    <h4 style="color: #033a67">Vice-Presidência</h4>
                    <p>Milton Rodrigues de Oliveira</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box iconbox-pink">

                    <h4 style="color: #033a67">Diretoria Financeira/Administrativa</h4>
                    <p>Bráulio de Freitas Ferraz</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-yellow">

                    <h4 style="color: #033a67">Diretoria Sócio-Cultural e de Comunicações</h4>
                    <p>
                        Adriana Peçanha Oliveira da Silva
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-red">

                    <h4 style="color: #033a67">Diretoria Jurídica e de Benefícios</h4>
                    <p>
                        Jair Sardinha da Costa
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-red">

                    <h4 style="color: #033a67">Diretoria de Esportes</h4>
                    <p>
                        Alexandre de Freitas
                    </p>
                </div>
            </div> -->
    </div>
  </div>
</section>


<!--    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>MIGUEL GERMIGOS DA FRANCA</h4>
                        <span>Vice-Presidência</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>JOSÉ LUCIANO CLEMENTE</h4>
                        <span>Dir. de Comunicação</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>JOSÉ NETTO LEAL JÚNIOR</h4>
                        <span>Diretoria Financeira/Administrativa</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>TEREZINHA DE OLIVEIRA L. FEIJOÓ</h4>
                        <span>Diretoria Jurídica</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>IARA REGINA DA SILVA SOUZA</h4>
                        <span>Diretoria Sócio-Cultural</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>GISELA CORREA DE ARAUJO</h4>
                        <span>Diretoria de Benefícios</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="assets/img/team/team-1.jpg" alt="">
                        <h4>PAULO CESAR MEDEIROS PESSET</h4>
                        <span>Diretoria de Esportes</span>
                    </div>
                </div> -->


<!--<div class="section-title">
                <h2>CONSELHO DELIBERATIVO</h2>
            </div>

            <ul>
                <li>FLAVIO BELFORD ROXO WILLEMSENS</li>
                <li>MILTON RODRIGUES DE OLIVEIRA</li>
                <li>ALEXANDRE DE FREITAS</li>
                <li>ANTONIO RAYMUNDO DA MOTTA</li>
                <li>VANIR PARANÁ PEREIRA LOPES</li>
                <li>JOSÉ DAS GRAÇAS GONÇALVES</li>
                <li>DEUSIMAR CORREA</li>
            </ul>

            <div class="section-title">
                <h2>CONSELHO FISCAL</h2>
            </div>

            <ul>
                <li>SERGIO BARBOSA FERREIRA</li>
                <li>BRAULIO FERRAZ</li>
                <li>LUIZ CLAUDIO FERREIRA</li>
            </ul>-->


<!-- End Team Section -->
