<!-- ======= Hero Section ======= -->
<div id="banner">
  <div class="header-banner img-fluid">
  </div>
</div>

<section id="hero" *ngIf="landingData.home">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">
              {{ landingData.home.title }}
            </h2>

            <p class="animate__animated animate__fadeInUp">
              {{ landingData.home.description }}
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->


<section id="featured-services" class="featured-services section-bg" *ngIf="landingData.quemSomos">
  <div class="container">

    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-laptop"></i></div>
          <h4 class="title">QUEM SOMOS</h4>
          <p class="description">{{ landingData.quemSomos.aboutUs }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title">MISSÃO</h4>
          <p class="description">{{ landingData.quemSomos.mission }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title">VISÃO</h4>
          <p class="description">{{ landingData.quemSomos.vision }}</p>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- ======= About Us Section ======= -->
<section id="noticias" class="noticias" style="color: #033a67" *ngIf="landingData.noticias">
  <div class="container">

    <div class="section-title">
      <h2>Notícias</h2>
      <p>Acompanhe a gente e fique por dentro de todas as novidades.</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <ng-container *ngIf="landingData.noticias.length < 1">
          <p class="text-center">Não existem notícias cadastradas</p>
        </ng-container>

        <carousel *ngIf="landingData.noticias.length > 0">
          <slide *ngFor="let noticia of landingData.noticias" class="noticia">
            <img [src]="noticia.logo | imagePathComplement" class="noticia__banner" (click)="viewMore(noticia)">
            <div class="carousel-caption d-none d-md-block noticia__content info-content">
              <div class="info-content__action">
                <h3 class="info-content__title">{{ noticia.title }}</h3>
                <div class="btn-action" (click)="viewMore(noticia)">
                  <p class="btn-action__title">clique aqui para ver mais</p>
                </div>
              </div>
              <p class="info-content__description">{{ noticia.description }}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->


<main id="main">

  <!-- </section>-->
  <!-- End Featured Services Section -->

  <!-- ======= Featured Services Section ======= -->
  <!--<section id="eventos" class="featured-services section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Eventos</h2>
                <p>Confira a programação.</p>
            </div>

            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        <h4 class="title"><a href="">EM BREVE</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        <h4 class="title"><a href="">EM BREVE</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat tarad limino ata</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        <h4 class="title"><a href="">EM BREVE</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur trade stravi</p>
                    </div>
                </div>
            </div>

        </div>
    </section>End Featured Services Section -->

  <!-- ======= Cta Section ======= -->
  <!--<section id="cta" class="cta" style="max-height: 500px; overflow-y: scroll">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center text-lg-start">
          <h3>
            <marquee><i class="bi bi-balloon"></i>Aniversariantes do mês<i class="bi bi-balloon"></i>
            </marquee>
          </h3>
        </div>
      </div>

      <div class="row">
        <div #scrollMe class="col-lg-4 text-center text-lg-start" *ngFor="let niver of aniversariantes">
          <p *ngIf="dia == niver.dia" style="font-weight: bold">
            <i class="bi bi-balloon"></i>{{ niver.dia }}/{{ mes }} -
            {{ niver.nome }}
          </p>
          <p *ngIf="dia != niver.dia">
            {{ niver.dia }}/{{ mes }} - {{ niver.nome }}
          </p>
        </div>
      </div>
    </div>
  </section>-->
  <!-- End Cta Section -->




  <!-- ======= Services Section ======= -->
  <section id="services" class="services" *ngIf="landingData.convenios">
    <div class="container">
      <div class="section-title">
        <h2 style="color: #033a67">Convênios</h2>
        <p>Principais Convênios:</p>
      </div>

      <div class="row">
        <ng-container *ngIf="landingData.convenios.length < 1">
          <p class="text-center">Não existem convênios cadastrados</p>
        </ng-container>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100"
          *ngFor="let convenio of landingData.convenios">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img [src]="convenio.logo | imagePathComplement" class="img-fluid" />
            </div>
            <h4><a class="disabled" href="#">{{ convenio.title }}</a></h4>
            <p>{{ convenio.description }}</p>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="assets/img/clients/santander.png" class="img-fluid" />
            </div>
            <h4><a href="">Banco Santander (Brasil) S/A</a></h4>
            <p>
              Crédito consignado com taxas reduzidas e parcelamento em 120
              prestações.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange">
            <div class="icon">
              <img src="assets/img/clients/claro.webp" class="img-fluid" />
            </div>
            <h4><a href="">Claro S/A</a></h4>
            <p>Serviços de telefonia e dados com parcelamento de aparelho.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <img src="assets/img/clients/vivo.webp" class="img-fluid" />
            </div>
            <h4><a href="">VIVO S/A</a></h4>
            <p>Serviços de telefonia e dados com parcelamento de aparelho.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <img src="assets/img/clients/unimed.png" class="img-fluid" />
            </div>
            <h4><a href="">Seguros Unimed S/A</a></h4>
            <p>
              Seguro saúde com ampla rede de atendimento e cobertura nacional e
              internacional.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
              <img src="assets/img/clients/emprestimo-pessoal-safra.jpg" class="img-fluid" />
            </div>
            <h4><a href="">Banco Safra S/A</a></h4>
            <p>
              Abertura de conta, orientação especializada para investimentos.
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Team Section ======= -->
  <!--<section id="links" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2>LINKS ÚTEIS</h2>
            </div>

            <ul>
                <li><a href="https://www.google.com.br/" target="_blank">Google</a></li>
            </ul>

        </div>
    </section> End Team Section -->



  <!-- ======= Portfolio Section =======
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact" *ngIf="landingData.contato">
    <div class="container">
      <div class="section-title">
        <h2 style="color: #033a67">Contato</h2>
        <!--<p>Dúvidas, criticas ou sugestões. Estamos abertos para te ouvir</p>
                 <p>ASSOCIAÇÃO DE CLASSE DOS SERVIDORES DO TRIBUNAL DE CONTAS DO MUNICÍPIO DO RIO DE JANEIRO
                </p>
                <p> CNPJ 35.788.850/0001-80</p>-->
      </div>

      <div class="row">
        <div class="info">
          <div class="row no-gutters">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-geo-alt"></i></div>
                <h4 class="title">Endereço</h4>
                <p class="description">
                  {{ landingData.contato.address }}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-envelope"></i></div>
                <h4 class="title">Email</h4>
                <p class="description">{{ landingData.contato.email }}

                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-phone"></i></div>
                <h4 class="title">Telefones</h4>
                <p class="description">
                  {{ landingData.contato.phone }} <br />
                  {{ landingData.contato.fax ? landingData.contato.fax + ' FAX' : "" }}
                </p>
              </div>
            </div>
          </div>

          <!-- <ng-container *ngIf="landingData.contato.linkMap">
            <iframe
              [src]="landingData.contato.linkMap"
              frameborder="0" style="border: 0; width: 100%; height: 290px" allowfullscreen></iframe>
          </ng-container> -->
        </div>

        <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Seu Nome</label>
                                <input type="text" name="Seu Nome" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6 mt-3 mt-md-0">
                                <label for="name">Seu Email</label>
                                <input type="email" class="form-control" name="Seu Email" id="email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label for="name">Assunto</label>
                            <input type="text" class="form-control" name="Assunto" id="subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="name">Mensagem</label>
                            <textarea class="form-control" name="Mensagem" rows="10" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
                    </form>
                </div>-->
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>AST-Rio</h3>
    <p>
      Associação de Classe dos Servidores do Tribunal de Contas do Município do
      Rio de Janeiro
    </p>
    <!-- <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>-->
    <div class="copyright">
      &copy; Copyright <strong><span>AST-Rio</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
<!-- End Footer -->
